@{
    ViewData["Title"] = "registrarse";
    <form action='@Url.Action("recibirRegistro", "Account")' method="POST" enctype="multipart/form-data">
    Ingrese su nombre de usuario: <input type="text" name="username"/>
    Ingrese su contraseña: <input type="text" name="password"/>
    Ingrese su nombre: <input type="text" name="nombre"/>
    Ingrese su apellido: <input type="text" name="apellido"/>
    Ingrese su foto: <input type="file" name="foto"/>
    <input type="submit" value="Guardar"/>
    </form>
}