@{
    ViewData["Title"] = "crearTarea";
}
<section class="crearTarea">
<form action='@Url.Action("crearTareaGuardar", "Home")' method="POST" enctype="application/x-www-form-urlencoded">
    Ingrese el nombre de la tarea: <input type="text" name="titulo"/>
    Ingrese la descripcion de su tarea: <input type="text" name="descripcion"/>
    Ingrese la fecha de finalizacion de su tarea: <input type="date" name="fecha"/>
    
    <input type="submit" value="Guardar"/>
</form>
</section>