@{
    ViewData["Title"] = "Index";
}
<section class="index">
<div>
    <h1>Index</h1>
    <p>Bienvenidos al sitio web de uri, andi y kreser,le duele la espalda de que se lo cojan</p>
    
</div>
</section>
